@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

.bg-img {
    background-image: url("./../images/Layer1.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.box {
    width: 40%;
    height: 90%;
    left: 30%;
    top: 5%;
    position: relative;
    border: 2px solid #f89a35;
    background-color: white;
}
h1::after {
    content:"";
    margin-top: 20px;
    display: inline-block;
    width: 50px;
    height: 2.5px;
    background-color: #49abfe ;
}
.row {
    margin: 0 auto;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
form .row {
    color: #8495b7;
    margin-top: 30px;
}
.d-inline {
    position: absolute;
    top: -20px;
}
.logo {
    height: 30px;
    padding-top: 40px;
}

input {
    border-color: transparent;
    border-bottom: 1px solid lightgray;
    color: black;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 1px;
    width: 70%;
}
.row p {
    margin: 0;
}
input[type="radio"] {
    width: 15px;
}
input[type="radio"]~img {
    margin-left: 60px;
}

/* On input focus effects*/
textarea:focus, input:focus{
    outline: none;
}
#mail:focus~img{
    content: url('./../images/activeMail.svg');
}
#password:focus~img{
    content: url('./../images/activeLock.svg');
}
#name:focus~img{
    content: url('./../images/activeUser.svg');
}
input:focus~p{
    text-transform: uppercase;
    font-size: 13px;
}

/* Buttons */
.btn {
    border-radius: 30px;
    background-color: transparent;
    color: white;
    width: 150px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 35px;
    transition: background-color .1s, border-color .1s;
    position: absolute;
    top: 90%;
    right: 15%;
}

.orange-btn {
    border: 2px solid #f89a35;
    background-color: #f89a35 !important;
}
.orange-btn:hover {
    background-color: #f8bf35 !important;
    border-color: #f8bf35;
    color: white;
}

@media only screen and (max-width: 770px) {
    .box {
        width: 70%;
        left: 15%;
    }
}